:root{
  --bg-color: hsl(257, 40%, 49%)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
	text-decoration: none;
}

/**
 * Remove list-style
 */ 

ol, ul {
	list-style: none;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a, 
ul {
	font-size: 1em;
	font-weight: normal;
}

img{
  max-width: 100%;
}
.container{
  padding: 20px;
  background: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
}
.container-desk{
  display: grid;
  grid-auto-rows: min-content;
  gap: 30px;
  align-items: start;
}
.logo img{
  width: 120px;
}
.logo{
  display: block;
  padding: 10px 0;
  max-width: 120px;
}
.titulo{
  font: 400 1.5em Poppins;
  line-height: 1.5;
  letter-spacing: .1em;
  color: #fff;
  text-align: center;
  align-self: start;
}
.descricao{
  font: 200 1em Open Sans;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  letter-spacing: .1em;
  align-self: start;
}

.btn{
  font: 400 1em Poppins;
  color: var(--bg-color);
  display: block;
  padding: 10px 15px;
  background: #fff;
  width: 180px;
  border-radius: 40px;
  text-align: center;
  justify-self: center;
  box-shadow: 0 2px 5px rgba(122, 114, 114, 0.4);
  cursor: pointer;
  outline: 0;
}

/*
  versão desktop
*/
@media(min-width: 960px){
    .container{
      background: url("/images/bg-desktop.svg");
      background-color: var(--bg-color);
      margin: 0 auto;
    }
    .container-desk{
      max-width: 960px;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;
    }
    .logo{
      grid-column: span 2;
    }
    .mockups{
      grid-row: span 3;
    }
    .titulo, .descricao{
      text-align: left;
    }
}